html,
body{
    height: 100%;
    font-size: 14px;
    font-family: 'Cubano-Regular';
    background: url('../img/pattern.jpg') center center;
}



/*FONT-FACES*/

@font-face {
    font-family: 'Cubano-Regular';
    src: local('Cubano-Regular.otf'), url('Cubano-Regular.otf') format('opentype');
}


@font-face {
    font-family:'Nunito-Regular';
    src: local('Nunito-Regular.ttf'), url('Nunito-Regular.ttf') format('truetype');
    }

    /*SECTION COVER*/
    
#cover {
    height: 100%;
    background: url(../img/trees.jpg) center;
    background-size: cover;
    color: white;
}

.wall-sticker{
    background-color: rgba(0, 0, 0, 0.4);
    padding: 15rem 15rem 12rem 5rem;
    font-family: 'Cubano-Regular';
    font-size: 4rem;
    color: white;
}

.moto{
    font-family: 'Cubano-Regular';
    font-size: 35px;
    margin-top: 225px;
    margin-left: 20px;
    text-align: center;
}


/*BUTTONS*/

.btn-lg,
.btn-success-outine{
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid rgba(19, 128, 26, 1);
    font-family: 'Nunito-Regular'; 
    transition: 0.5s;

}

.btn-lg:hover,
.btn-lg:focus,
.btn-lg:active,
.btn-success-outine:hover,
.btn-success-outine:focus,
.btn-success-outine:active

{
    background-color: rgba(19, 128, 36, 1);
    border: 1px solid rgba(19, 128, 26, 0);
    transition: 0.5s
}

.fa-arrow-down {
    margin-left: 35rem;
    margin-top: 50px;
    font-size: 2.5rem;
    color: white;
    transition: 0.3s;

}

.fa-arrow-down:hover{
    color: rgba(19, 128, 36, 0.54);
    transition: 0.3s;
}

/* SPANS */

.bold-green{
    color: rgba(19, 128, 36, 0.9);
}

.green-underline{
    border-bottom: 1px solid rgba(19, 128, 36, 0.9);
}

/*NAVBARS*/

.navbar-brand{
    font-family: 'Cubano-Regular';
    padding-right: 15px;
}

#main-nav{

        font-family: 'Nunito-Regular'; 

}

#main-nav li a{
    border-bottom: 1px solid transparent;
    transition: 0.5s;

}

#main-nav li a:hover{
        border-bottom: 1px solid green;
        transition: 0.5s;

}
    