/*COLOR  
rgba(19, 128, 36, 0.54);
*/

html,
body{
    height: 100%;
    font-size: 14px;
    font-family: 'Cubano-Regular';
    background: url('../img/pattern.jpg') center center;
}



/*FONT-FACES*/

@font-face {
    font-family: 'Cubano-Regular';
    src: local('Cubano-Regular.otf'), url('Cubano-Regular.otf') format('opentype');
}


@font-face {
    font-family:'Nunito-Regular';
    src: local('Nunito-Regular.ttf'), url('Nunito-Regular.ttf') format('truetype');
    }

    /*SECTION COVER*/
    
#cover {
    height: 100%;
    background: url(../img/trees.jpg) center;
    background-size: cover;
    color: white;
}

.wall-sticker{
    background-color: rgba(0, 0, 0, 0.4);
    padding: 15rem 15rem 12rem 5rem;
    font-family: 'Cubano-Regular';
    font-size: 4rem;
    color: white;
}

.moto{
    font-family: 'Cubano-Regular';
    font-size: 35px;
    margin-top: 225px;
    margin-left: 20px;
    text-align: center;
}


/*BUTTONS*/

.btn-lg,
.btn-success-outine{
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid rgba(19, 128, 26, 1);
    font-family: 'Nunito-Regular'; 
    transition: 0.5s;

}

.btn-lg:hover,
.btn-lg:focus,
.btn-lg:active,
.btn-success-outine:hover,
.btn-success-outine:focus,
.btn-success-outine:active

{
    background-color: rgba(19, 128, 36, 1);
    border: 1px solid rgba(19, 128, 26, 0);
    transition: 0.5s
}

.fa-arrow-down {
    margin-left: 35rem;
    margin-top: 50px;
    font-size: 2.5rem;
    color: white;
    transition: 0.3s;

}

.fa-arrow-down:hover{
    color: rgba(19, 128, 36, 0.54);
    transition: 0.3s;
}


.parallax-btn{
    width: 200px;
    margin: 30px auto 0 auto;
    margin-left: 40rem;
}


/* SPANS */

.bold-green{
    color: rgba(19, 128, 36, 0.9);
}

.green-underline{
    border-bottom: 1px solid rgba(19, 128, 36, 0.9);
}

/*NAVBARS*/

.navbar-brand{
    font-family: 'Cubano-Regular';
    padding-right: 15px;
}

#main-nav{

        font-family: 'Nunito-Regular'; 

}

#main-nav li a{
    border-bottom: 1px solid transparent;
    transition: 0.5s;

}

#main-nav li a:hover{
        border-bottom: 1px solid green;
        transition: 0.5s;

}
    
/* SECTION-FEATURES */

.section-features{
    padding: 5rem 0;
    background: url('../img/pattern.jpg') center center;
}

.square{
    text-align: center;
    
}
.square i{
    text-align: center;
    margin-top: 5rem; 
    margin-bottom: 1rem;
    transition: 0.3s;

    
}

.square i:hover{
    color: rgba(19, 128, 36, 1);
    transition: 0.3s;

}
.square p{
    padding-top: 1rem;
    font-family: 'Nunito-Regular';
    font-size: 1.2rem
}
.green-hr{
    border-top: 1px solid rgba(19, 128, 36, 1);
    width: 150px;
    background-color: rgba(19, 128, 36, 1);
    
}

.heading,
.under-heading{
    text-align: center;
}
    /* SECTION-TIMELINE */


.section-timeline{
    background: white;
    padding-top: 5rem;
}

.timeline{
        list-style: none;
    padding: 20px 0 80px;
    padding-top: 50px;
    position: relative;
}
.timeline:before{  /*Actual grey line*/
    background-color: #eeeeee;
    top:0;
    bottom: 0;
    position: absolute;
    content: "";
    left: 50%;
    width: 3px;
    margin-left: 9.5px;
}
.timeline > li{
    margin-bottom: 20px;
    position: relative;
}

.timeline:before,
.timeline:after{
    content: :"";
/*    display: table;*/
}
.timeline > li:after{
    clear: both;
}

.timeline > li > .timeline-panel{
    width: 50%;
/*    float: left;*/
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0, 0 , 0 0.175);
}

.timeline p{
    font-family: 'Nunito-Regular';
    font-weight: 700;
}
.timeline > li:not(.timeline-inverted){
/*    margin-bottom: 200px;*/
    padding-right: 90px;
/*    position: relative;*/

}

.timeline > li.timeline-inverted{
/*position: absolutea;*/
    padding-left: 160px;
/*    float: right;*/
}

.timeline > li > .timeline-badge{
    font-size: 1rem !important;
    color: #fff;
    background-color: rgba(19, 128,36,0.82);
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top:16px;
    left: 50%;
    margin-left: -12px;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;

}


.timeline > li.timeline-inverted > .timeline-panel{
/*    float: right;*/
    margin-left: 40rem;
    
    
}

/*    SECTION PARALLAX */
#section-parallax{
    text-align: center;
    background: url(../img/trees.jpg) center repeat fixed;
    padding: 140px 0;
    background-size: cover;
    color: white;
}
.parallax-text{
        margin-left: 30rem !important;

}

/* SECTION-CARDS */
#section-cards h2{
    text-align: center;
}

#section-cards{
    padding: 5rem 0;
}

.card{
    margin-top: 3rem;
}
.card a{
    color: rgba(19, 128, 36, 0.90);

}

.card a:hover {
     color: rgb(19, 128, 36);
}
.card img{
    height: 180px;
    width: 415px;
    transition: 1s;

}

.card img:hover{
    transform: scale(0.98);
    transition: 1s;
    
}

/* SECTION NUMBERS */

.section-numbers{
    background-color: white;
    padding-top: 5rem;
    
}
h2{
    text-align: center;
}


.num-content{
    height: 140px;
    width: 140px;
    display: table;
    font-size: 20px;
    line-height: 20px;
    background: rgba(19, 128, 36, 0.91);
    border-radius: 100px;
    color: white; 
    transition: 0.3s;


}
.num-content:hover{
    color: #222;
    transition: 0.3s;
}

.num .num-content{
    display: table-cell;
    vertical-align: middle;
    
}


.num{
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-left: 80px;
}


.num-content p{
    padding-top: 15px;
}















